<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="close()">
				<ion-icon name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>{{ (tag) ? 'Editar' : 'Crear' }} rol</ion-title>
		<ion-buttons slot="end">
			@if (tag) {
				<ion-button [disabled]="!form?.valid" (click)="update()">
					<ion-icon slot="icon-only" name="save"></ion-icon>
				</ion-button>
				<ion-button (click)="remove()">
					<ion-icon slot="icon-only" name="trash"></ion-icon>
				</ion-button>
			} @else {
				<ion-button [disabled]="!form?.valid" (click)="create()">
					<ion-icon slot="icon-only" name="save"></ion-icon>
				</ion-button>
			}
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar">
		<form [formGroup]="form">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12" size-md="12">
						<ion-card>
							<ion-card-header>
								<ion-card-title>Datos del rol</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-item>
									<ion-input label="Nombre" label-placement="floating" formControlName="name" type="text"></ion-input>
								</ion-item>
								<ion-item>
									<ion-input label="Nivel" label-placement="floating" formControlName="level" type="number"></ion-input>
								</ion-item>
							</ion-card-content>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>