<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Invitaciones</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="add()">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar #searchBar (ionInput)="filter(searchBar.value)" debounce="500"
			placeholder="Buscar invitaciones"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar">
		@if ((invites$ | async); as invites) {
		<ion-list-header>
			<p>
				@if ((search$ | async); as search) {
				<span>
					{{ invites.length }} de {{ total$ | async }} {{ 'inivtaci' | plural
					:(total$ | async) :'ones' :'ón' }} con <ion-text>"{{ search }}" </ion-text>
				</span>
				} @else {
				<span>{{ invites.length }} {{ 'inivtaci' | plural :invites.length :'ones' :'ón'
					}}</span>
				}
			</p>
		</ion-list-header>
		}
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-list class="ion-no-padding" [inset]="true">
						@for((invite of invites$ | async); track invite.email; let i = $index) {
						<ion-item button (click)="openInvite(invite)" lines="inset" [class.disabled]="isDisable(invite)">
							<!-- INFO PRINCIPAL -->
							<ion-label>
								<!-- EMAIL -->
								<h2>
									<ion-text>
										{{ invite.email }}
									</ion-text>
								</h2>
								<!-- META -->
								<p>
									<!-- ROLE -->
									<ion-chip color="secondary">
										{{ invite.role === 1 ? 'Admin' : 'User' }}
									</ion-chip>

									<!-- STATUS -->
									<ion-chip [color]="
										invite.status === 'pending' ? 'primary' :
          								invite.status === 'used' ? 'success' :
          								invite.status === 'expired' ? 'warning' : 'medium'">
										{{ invite.status === 'pending' ? 'Pendiente' :
										invite.status === 'used' ? 'Usada' :
										invite.status === 'expired' ? 'Expirada' : 'Cancelada' }}
									</ion-chip>

									<!-- RESENDS -->
									@if(invite.resendCount) {
									<ion-text color="medium">
										• reenviada {{ invite.resendCount }}x
									</ion-text>
									}
								</p>
							</ion-label>

							<!-- INDICADOR VISUAL -->
							<!-- Expire soon -->
							@if(isNearExpiration(invite)) {
							<ion-icon slot="end" name="warning-outline" color="warning"></ion-icon>
							}
							@if(isExpired(invite)) {
							<!-- Expired -->
							<ion-icon slot="end" name="skull" color="danger"></ion-icon>
							}
							@if(invite.status === "used") {
							<!-- Used -->
							<ion-icon slot="end" name="cloud-done" color="success"></ion-icon>
							}
							@else if (invite.status === "cancelled") {
							<!-- Cancelled -->
							<ion-icon slot="end" name="ban" color="medium"></ion-icon>
							}
						</ion-item>
						}
					</ion-list>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>