<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Equipo Futuro es Femenino</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openAdvisor()">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar #searchBar (ionInput)="filter(searchBar.value)" debounce="500"
			placeholder="Buscar personal"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar">
		@if ((advisors$ | async); as advisors) {
		<ion-list-header>
			<p>
				@if ((search$ | async); as search) {
				<span>
					{{ advisors.length }} de {{ total$ | async }} {{ 'persona' | plural
					:(total$ | async) :'s' :'' }} con <ion-text>"{{ search }}" </ion-text>
				</span>
				} @else {
				<span>{{ advisors.length }} {{ 'persona' | plural :advisors.length :'s' :''
					}}</span>
				}
			</p>
		</ion-list-header>
		}
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-list [inset]="true" class="ion-margin-bottom">
						<ion-list-header>
							<ion-label color="success"><b>CEO</b></ion-label>
						</ion-list-header>

						@for (advisor of ceos$ | async; track advisor.uid) {
						<ion-item lines="inset" button (click)="openAdvisor(advisor)">
							<ion-label>
								<h2><b>{{ advisor.name }}</b></h2>
								
								@if (advisor.tags?.length) {
								<p>Funciones: {{ advisor.tags.join(' | ') }}</p>
								}
							</ion-label>
						</ion-item>
						}
					</ion-list>
					<ion-list [inset]="true" class="ion-margin-bottom">
						<ion-list-header>
							<ion-label color="primary"><b>Gerentes</b></ion-label>
						</ion-list-header>

						@for (advisor of managers$ | async; track advisor.uid) {
						<ion-item lines="inset" button (click)="openAdvisor(advisor)">
							<ion-label>
								<h2><b>{{ advisor.name }}</b></h2>

								@if (advisor.tags?.length) {
								<p>Funciones: {{ advisor.tags.join(' | ') }}</p>
								}
							</ion-label>
						</ion-item>
						}
					</ion-list>
					<ion-list [inset]="true">
						<ion-list-header>
							<ion-label color="tertiary"><b>Consultoras</b></ion-label>
						</ion-list-header>

						@for (advisor of consultants$ | async; track advisor.uid) {
						<ion-item lines="inset" button (click)="openAdvisor(advisor)">
							<ion-label>
								<h2><b>{{ advisor.name }}</b></h2>

								@if (advisor.tags?.length) {
								<p>Funciones: {{ advisor.tags.join(' | ') }}</p>
								}

								@if (advisor.managerId && (managersDic$ | async); as managersDic) {
								<p>Gerente: {{ managersDic[advisor.managerId]?.name }}</p>
								}
							</ion-label>
						</ion-item>
						}
					</ion-list>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>