<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Equipo Futuro es Femenino</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openAdvisor()">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar #searchBar (ionInput)="filter(searchBar.value)" debounce="500"
			placeholder="Buscar personal"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar team-page">

		<!-- CONTADOR -->
		@if ((advisors$ | async); as advisors) {
		<div class="counter">
			@if ((search$ | async); as search) {
			<span>
				{{ advisors.length }} de {{ total$ | async }} personas con
				<b>"{{ search }}"</b>
			</span>
			} @else {
			<span>{{ advisors.length }} personas</span>
			}
		</div>
		}

		<!-- CEO -->
		<div class="section">
			<div class="section-title ceo">CEO</div>

			@for (advisor of ceos$ | async; track advisor.uid) {
			<div class="person-card ceo-card" (click)="openAdvisor(advisor)">
				<div class="avatar">{{ advisor.name[0] }}</div>

				<div class="person-info">
					<div class="name">{{ advisor.name }}</div>

					@if (advisor.tags?.length) {
					<div class="tags">
						@for(tag of advisor.tags; track tag) {
						<span class="tag role">{{ tag }}</span>
						}
					</div>
					}
				</div>
			</div>
			}
		</div>

		<!-- GERENTES -->
		<div class="section">
			<div class="section-title managers">Gerentes</div>

			@for (advisor of managers$ | async; track advisor.uid) {
			<div class="person-card" (click)="openAdvisor(advisor)">
				<div class="avatar manager">{{ advisor.name[0] }}</div>

				<div class="person-info">
					<div class="name">{{ advisor.name }}</div>

					@if (advisor.tags?.length) {
					<div class="tags">
						@for(tag of advisor.tags; track tag) {
						<span class="tag role">{{ tag }}</span>
						}
					</div>
					}
				</div>
			</div>
			}
		</div>

		<!-- CONSULTORAS -->
		<div class="section">
			<div class="section-title consultants">Consultoras</div>

			@for (advisor of consultants$ | async; track advisor.uid) {
			<div class="person-card" (click)="openAdvisor(advisor)">
				<div class="avatar consultant">{{ advisor.name[0] }}</div>

				<div class="person-info">
					<div class="name">{{ advisor.name }}</div>

					<div class="meta">
						@if (advisor.managerId && (managersDic$ | async); as managersDic) {
						<span class="tag manager">👤 {{ managersDic[advisor.managerId]?.name }}</span>
						}

						@if (advisor.tags?.length) {
						@for(tag of advisor.tags; track tag) {
						<span class="tag role">{{ tag }}</span>
						}
						}
					</div>
				</div>
			</div>
			}
		</div>

	</div>
</ion-content>