<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Roles accesible</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openTag()">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar #searchBar (ionInput)="filter(searchBar.value)" debounce="500"
			placeholder="Buscar roles de accesible"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar">
		@if ((tags$ | async); as tags) {
		<ion-list-header>
			<p>
				@if ((search$ | async); as search) {
				<span>
					{{ tags.length }} de {{ total$ | async }} {{ 'rol' | plural
					:(total$ | async) :'es' :'' }} con <ion-text>"{{ search }}" </ion-text>
				</span>
				} @else {
				<span>{{ tags.length }} {{ 'rol' | plural :tags.length :'es' :''
					}}</span>
				}
			</p>
		</ion-list-header>
		}
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-list class="ion-no-padding" [inset]="true">
						@for((tag of tags$ | async); track tag.name; let i = $index) {
						<ion-item lines="inset" button (click)="openTag(tag)">
							<ion-label>
								<h2>
									<ion-text>
										<b>{{ tag.name }}</b>
									</ion-text>
								</h2>
								<p>Nivel: {{ tag.level }}</p>
							</ion-label>
						</ion-item>
						}
					</ion-list>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>