@if ((contract$ | async); as contract) {
<ion-header>
	<ion-toolbar>
		<ion-title>Detalle del contrato</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="toggleSign(contract)">
				<ion-icon slot="icon-only" [color]="contract.signed ? 'success' : 'medium'"
					[name]="contract.signed ? 'checkbox' : 'square-outline'"></ion-icon>
			</ion-button>
			<ion-button (click)="edit()">
				<ion-icon slot="icon-only" name="create"></ion-icon>
			</ion-button>
			<ion-button (click)="close()">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<!-- HEADER PRINCIPAL -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				{{ contract.investor }}
			</ion-card-title>

			<ion-card-subtitle>
				@if ((advisorsDic$ | async); as advisorsDic) {
				Asesora:
				<strong>{{ advisorsDic[contract.advisorUid].name || 'Sin asignar' }}</strong>
				}
			</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ion-chip [color]="contract.accountStatus === 'active' ? 'success' : 'warning'" outline>
				{{ contract.accountStatus | titlecase }}
			</ion-chip>
			<ion-chip color="secondary" outline>
				{{ contract.scheme | titlecase }}
			</ion-chip>
		</ion-card-content>
	</ion-card>

	<!-- FIRMA -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Firma del contrato</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Firma</ion-label>
				<ion-note slot="end">
					{{ contract.signature }}
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Deposito</ion-label>
				<ion-note slot="end">
					{{ contract.deposit }}
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- CAPITAL Y RENDIMIENTO -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Capital & Rendimiento</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Capital</ion-label>
				<ion-note slot="end" color="success">
					${{ contract.capitalMXN | number:'1.2-2' }} MXN
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Rendimiento</ion-label>
				<ion-note slot="end">
					{{ contract.yieldPercent }}%
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Liquidez</ion-label>
				<ion-note slot="end">
					{{ contract.liquidity }}%
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- PLAZO Y PAGOS -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Plazo & Pagos</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Plazo</ion-label>
				<ion-note slot="end">
					{{ contract.term }} meses
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Periodicidad</ion-label>
				<ion-note slot="end">
					{{ contract.yieldFrequency }}
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Pagos</ion-label>
				<ion-note slot="end">
					{{ contract.payments }}
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- CUENTAS -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Cuentas</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Cuenta depósito</ion-label>
				<ion-note slot="end">
					{{ contract.depositAccount }}
				</ion-note>
			</ion-item>

			<ion-item lines="none">
				<ion-label>Cuenta cliente</ion-label>
				<ion-note slot="end">
					{{ contract.clientAccount }}
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- DOCUMENTACIÓN -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Documentación</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Documentos completos</ion-label>
				<ion-icon slot="end" [name]="contract.docs ? 'checkmark-circle' : 'close-circle'"
					[color]="contract.docs ? 'success' : 'danger'"></ion-icon>
			</ion-item>

			<ion-item *ngIf="contract.docsComments" lines="none">
				<ion-label class="ion-text-wrap">
					{{ contract.docsComments }}
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<!-- BENEFICIARIOS -->
	<ion-card *ngIf="contract.beneficiaries">
		<ion-card-header>
			<ion-card-title>Beneficiarios</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<p class="ion-text-wrap">
				{{ contract.beneficiaries }}
			</p>
		</ion-card-content>
	</ion-card>

	<!-- CONTACTO -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Contacto</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>Email</ion-label>
				<ion-note slot="end">
					{{ contract.email }}
				</ion-note>
			</ion-item>
		</ion-card-content>
	</ion-card>

</ion-content>
}