<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard/users"></ion-back-button>
		</ion-buttons>
		<ion-title>Crear invitación</ion-title>
		<ion-buttons slot="end">
			<ion-button [disabled]="!form?.valid" (click)="create()">
				<ion-icon slot="icon-only" name="save"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="scrollbar">
		<form [formGroup]="form">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12" size-md="12">
						<ion-card>
							<ion-card-header>
								<ion-card-title>Datos personales</ion-card-title>
							</ion-card-header>
							<ion-card-content>
								<ion-item>
									<ion-input label="Email" label-placement="floating" formControlName="email"
										type="text"></ion-input>
								</ion-item>
								<ion-item>
									<ion-select label="Rol" label-placement="floating" formControlName="role">
										<ion-select-option value="1">Administrador</ion-select-option>
										<ion-select-option value="2">Usuario</ion-select-option>
									</ion-select>
								</ion-item>
							</ion-card-content>
						</ion-card>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>