<ion-header class="modal-header">
	<ion-toolbar>
		<ion-title>{{ advisor ? 'Editar' : 'Nueva' }}</ion-title>

		<ion-buttons slot="end">
			@if (advisor) {
			<ion-button fill="clear" color="success" [disabled]="!form?.valid" (click)="update()">
				<ion-icon slot="icon-only" name="save"></ion-icon>
			</ion-button>

			<ion-button fill="clear" color="danger" (click)="remove()">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
			} @else {
			<ion-button fill="clear" color="success" [disabled]="!form?.valid" (click)="create()">
				<ion-icon slot="icon-only" name="save"></ion-icon>
			</ion-button>
			}

			<ion-button fill="clear" (click)="close()">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="advisor-modal">

	<form [formGroup]="form">

		<!-- PERFIL HEADER -->
		<div class="profile-header">
			<div class="avatar-big">
				{{ form.get('name')?.value?.[0] || '?' }}
			</div>

			<div class="profile-info">
				<div class="name-preview">
					{{ form.get('name')?.value || 'Nombre de la asesora' }}
				</div>
				<div class="role-preview">
					{{ form.get('hierarchyLevel')?.value || 'Nivel no asignado' }}
				</div>
			</div>
		</div>

		<!-- DATOS -->
		<div class="card">
			<div class="card-title">Información general</div>

			<ion-item lines="none">
				<ion-input label="Nombre" label-placement="floating" formControlName="name" type="text">
				</ion-input>
			</ion-item>

			<ion-item lines="none">
				<ion-label position="stacked">Nivel jerárquico</ion-label>
				<ion-select formControlName="hierarchyLevel" interface="popover">
					<ion-select-option value="CONSULTANT">Consultora</ion-select-option>
					<ion-select-option value="MANAGER">Gerente</ion-select-option>
					<ion-select-option value="CEO">CEO</ion-select-option>
				</ion-select>
			</ion-item>

			@if (form.get('hierarchyLevel')?.value === 'CONSULTANT') {
			<ion-item lines="none">
				<ion-label position="stacked">Gerente asignada</ion-label>
				<ion-select formControlName="managerId" interface="popover">
					@for((manager of managers$ | async); track manager.uid) {
					<ion-select-option [value]="manager.uid">
						{{ manager.name }}
					</ion-select-option>
					}
				</ion-select>
			</ion-item>
			}
		</div>

		<!-- FUNCIONES -->
		<div class="card">
			<div class="card-title">Funciones adicionales</div>

			<ion-item lines="none">
				<ion-select formControlName="tags" multiple="true" interface="popover"
					placeholder="Seleccionar funciones">

					<ion-select-option value="KAM">KAM</ion-select-option>
					<ion-select-option value="SALES_DIRECTION">Dirección de Ventas</ion-select-option>
					<ion-select-option value="OPERATIONS">Equipo Operativo</ion-select-option>

				</ion-select>
			</ion-item>
		</div>

	</form>
</ion-content>