.advisor-modal {
    padding: 16px;
}

/* HEADER PERFIL */
.profile-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    border-radius: 16px;
    margin: 18px;
    // margin-bottom: 18px;
    background: linear-gradient(135deg, #1e1e2f, #12121c);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.avatar-big {
    width: 64px;
    height: 64px;
    border-radius: 20px;
    background: linear-gradient(135deg, #3b82f6, #6366f1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.profile-info {
    flex: 1;
}

.name-preview {
    font-size: 18px;
    font-weight: 600;
}

.role-preview {
    font-size: 13px;
    opacity: 0.7;
}

/* TARJETAS */
.card {
    margin: 18px;
    background: var(--ion-item-background);
    border-radius: 14px;
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.card-title {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    opacity: 0.6;
}

/* ITEMS LIMPIOS */
ion-item {
    --background: transparent;
    margin-bottom: 6px;
}