<div class="list-wrapper">

	<div class="filters">

		<ion-searchbar debounce="400" (ionInput)="filter($event.target.value)"
			placeholder="Buscar por inversionista, esquema, consultora…"></ion-searchbar>

		<div class="tabs">
			@if ((statusFilter$ | async); as statusFilter) {
				@if ((statusCounts$ | async); as counts) {
					<ion-chip color="dark" mode="ios" outline="true" class="tab"
						[class.active]="statusFilter === 'PENDING'"
						(click)="setStatusFilter('PENDING')">
						<ion-label>Pendientes</ion-label>
						<ion-badge class="count">{{ counts.PENDING }}</ion-badge>
					</ion-chip>

					<ion-chip color="dark" mode="ios" outline="true" class="tab"
						[class.active]="statusFilter === 'ACTIVE'"
						(click)="setStatusFilter('ACTIVE')">
						<ion-label>Activos</ion-label>
						<ion-badge class="count">{{ counts.ACTIVE }}</ion-badge>
					</ion-chip>

					<ion-chip color="dark" mode="ios" outline="true" class="tab"
						[class.active]="statusFilter === 'FINISHED'"
						(click)="setStatusFilter('FINISHED')">
						<ion-label>Finalizados</ion-label>
						<ion-badge class="count">{{ counts.FINISHED }}</ion-badge>
					</ion-chip>

					<ion-chip color="dark" mode="ios" outline="true" class="tab"
						[class.active]="statusFilter === 'CANCELLED'"
						(click)="setStatusFilter('CANCELLED')">
						<ion-label>Cancelados</ion-label>
						<ion-badge class="count">{{ counts.CANCELLED }}</ion-badge>
					</ion-chip>
				}
			}
		</div>

	</div>

	<div class="contracts">

		@if ((contracts$ | async); as contracts) {
		@for (contract of contracts; track contract.uid) {

		<div class="contract-item" [class.selected]="(selectedContract$ | async)?.uid === contract.uid"
			(click)="select(contract)">

			<div class="top">
				<div class="investor">
					{{ contract.investor }}
				</div>
				<div class="amount">
					<!-- ${{ contract.capitalMXN | number:'1.0-0' }} -->
				</div>
			</div>

			<div class="bottom">
				<span>
					{{ contract.yieldPercent }}% · {{ contract.term }}m
				</span>

				<span class="status"
					[class.pending]="contract.contractStatus === 'PENDING'"
					[class.active]="contract.contractStatus === 'ACTIVE'"
					[class.finished]="contract.contractStatus === 'FINISHED'"
					[class.cancelled]="contract.contractStatus === 'CANCELLED'">
					@if (contract.contractStatus === 'PENDING') { Pendiente }
					@if (contract.contractStatus === 'ACTIVE') { Activo }
					@if (contract.contractStatus === 'FINISHED') { Finalizado }
					@if (contract.contractStatus === 'CANCELLED') { Cancelado }
				</span>
			</div>

		</div>

		}
		}

	</div>

</div>