.contracts-layout {
	display: flex;
	height: 100%;
}

.left-panel {
	width: 360px;
	border-right: 1px solid rgba(255, 255, 255, .05);
}

.right-panel {
	flex: 1;
}

@media (max-width: 992px) {

	.contracts-layout {
		position: relative;
	}

	.left-panel {
		width: 100%;
	}

	.right-panel {
		position: absolute;
		inset: 0;
		background: var(--ion-background-color);
	}

	.hidden {
		display: none;
	}
}
